<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>second</title>
    <link rel="stylesheet" href="../static/bootstrap-4.3.1-dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../static/leaflet/leaflet.css" >
</head>
<body>

    <script src="../static/jquery/jquery-3.4.1.js"></script>
    <script src="../static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="../static/leaflet/leaflet.js"></script>


    <script type="text/javascript">

            import {geoJSON} from "../static/leaflet/leaflet-src.esm";

            let polygon2 = {};
            $(document).ready(function(){
                $('#form').submit(function(event){
                    $.get("calc",{param1:$("#pointB").val(), param2:$("#pointL").val(), param3:$("#pointNum").val()},onResponse);
                    return false;
                })
                function onResponse(data){
                    //alert(data)
                    {#Clear previous polygon#}
                    if (polygon2 != undefined) {
                          mymap.removeLayer(polygon2);
                    };
                    {#На входе функции строка - data, которую приводим в объект JSON и cуем в leaflet как geoJSON#}
                    {#В geoJSON сначала долгота, потом широта. И если в leaflet на вход довать geoJSON, то он#}
                    {#провильно разбирается с тем, что сначала долгота, потом широта#}
                    polygon2 = L.geoJSON(JSON.parse(data)).addTo(mymap);
                }
            })
    </script>

    <script type="text/javascript">

             let Marker1 = {};
             $(function() {
                  $("#bButton").click( function() {
                         $("#mapid").css('cursor','crosshair');
                         enableAddMarker();
                  });
             });

            function enableAddMarker() {
                mymap.on('click', addMarker)
            }

            function addMarker(e) {
                $("#pointB").val("POINT (" + e.latlng.lng + " " + e.latlng.lat + ")");
                if(Marker1 != undefined) {
                    mymap.removeLayer(Marker1);
                }
                Marker1 = L.marker(e.latlng).addTo(mymap);
                $("#mapid").css('cursor','');
                mymap.off('click', addMarker);
            }
    </script>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <form id="form" method="POST">
                  <div class="form-group">
                    <label for="pointB">Широта</label>
                      <div class="input-group">
                         <input type="text" class="form-control" id="pointB" value="POINT (37 55)">
                         <span class="input-group-btn">
                            {# Not submit button#}
                            <button id="bButton" class="btn btn-primary" type="button">+</button>
                         </span>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="bointL">Долгота</label>
                    <input type="text" class="form-control" id="pointL" value="POINT (20 40)">
                  </div>
                     <div class="form-group">
                    <label for="pointNum">Количество точек</label>
                    <input type="text" class="form-control" id="pointNum" value="10">
                  </div>
                  <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                Карта
                <div id="mapid" style="width: 100%; height: 600px"></div>
                <script type='text/javascript'>
                    //Определяем карту, координаты центра и начальный масштаб
                    var mymap = L.map('mapid').setView([20, 20], 3);
                    //Добавляем на нашу карту слой OpenStreetMap
                    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a rel="nofollow" href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(mymap);

                </script>
            </div>
        </div>
    </div>


</body>
</html>